<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="card col-5">
        <div class="card-body">

            <div class="row">

                <div class="form-group col-12">

                    <label for="inputTempoMiojo">Tempo de preparo do miojo</label>
                    <input type="number" class="form-control form-control-sm" id="tempoMiojo" aria-describedby="tempoPreparo"
                        placeholder="Insira o tempo de preparo do miojo" [(ngModel)]="calcMiojo.tempo">

                </div>

                <div class="form-group col-6 mb-0">
                    <label for="inputAmp1">Primeira Ampulheta</label>
                    <input type="number" class="form-control form-control-sm" id="amp1" aria-describedby="ampulheta 1"
                        placeholder="Tempo 1" [(ngModel)]="calcMiojo.amp1">
                </div>

                <div class="form-group col-6 mb-0">
                    <label for="inputAmp2">Segunda Ampulheta</label>
                    <input type="number" class="form-control form-control-sm" id="amp2" aria-describedby="ampulheta 2"
                        placeholder="Tempo 2" [(ngModel)]="calcMiojo.amp2">
                </div>

                <div class="col-12 text-center mb-3">
                    <small id="emailHelp" class="form-text text-muted">O tempo das ampulhetas deve ser maior que o tempo de preparo do miojo</small>
                </div>

                <div class="col-12" >
                    <button class="btn btn-sm btn-block btn-success" (click)="calcular()">Calcular</button>
                </div>

            </div>

        </div>
    </div>
</div>